*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
   background: linear-gradient(#41097A, #050222);
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.header{
    padding: 32px 0px;
    background-color: #050222;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    font-size: 24px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
}

.menu .navbar ul li a:hover{
    color: #15A4F9;
}

#menu{
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

@media(max-width:991px){
    .menu{
        padding: 30px;
    }
    .menu label{
        display: initial;
    }
    .header{
        padding: 40px 0;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #050222;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }    
}

    #about{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    h2,p{
        color: white;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 10px;
    }

    #contenttwo{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
    }
    .img-1{
        margin-right: 20px;
        margin: 40px;    
        cursor: pointer;
    }

    .img-1:hover{
      transform: scale(1.1);
      transition: 2s;
    }

    .img-2{
        margin-left: 20px; 
        cursor: pointer;      
    }

    .img-2:hover{
      transform: scale(1.1);
      transition: 2s;
    }

    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: auto;
        margin-top: 20px;
        border-radius: 4px;
        color: white;
        box-shadow: 7px 13px 37px #0000;
    }

    #num{
        width: 100%;
        background: #EAEAEA;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 2px solid #32065E;
        font-size: 18px;
    }

    .form a{
        color: white;
        text-decoration: none;
    }

    .form a:hover{
        color: white;
        text-decoration: underline;
    }

    .form button{
        width: 100%;
        background: #D9D9D9;
        color: #32065E;
        border: none;
        padding: 10px;
        margin: 16px 0;
        font-size: 16px;
        cursor: pointer;
    }

    footer{
        display: flex;
        flex-direction: column;
        height: 50px;
        background-color: #050222;
       
    }

    